
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
img{
    width: 150x;
    height: 150px;
}
.nav_links{
    display: flex;
    align-items: center;
    height: 100%;
}
.header_nav_link{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    
}

.actve_link {
    color:blanchedalmond;
    text-decoration: underline;
}
.classer{
    width: 1350px;
    height: 800px;
    background: url("img/main_img.jpg") no-repeat center;
    color:bisque;
    position: relative;
}
.wrapper_login{
    text-align: center;
}
/* .wrapper_password{
    text-align: center;  
} */

.form_main{
    position: absolute;
    bottom: 100px;
    left: 590px;
    background-color: transparent;
}

.form_main_input {
background-color: transparent;
color:bisque;
}

.btn_main_page {
border-radius: 15px;
width: 100px;
height: 35px;

background-color: bisque;
}

.btn_main_page:hover {
    cursor: pointer;
    background-color: rgb(237, 202, 159);
}



