/* .wrapper{
width: 1500px;
height: 200px;
background-color: black;
text-decoration: underline;
display:  inline-flex;
} */

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
img{
    width: 150x;
    height: 150px;
}
.nav_links{
    display: flex;
}
.loginer{
    background-color: darkblue;
    height: 700px;
    text-align: center;
    cursor: pointer;}
.logini{
    width: 100px;
    height: 1px;
    margin: auto;
    cursor: pointer;
    background-color: rgb(red, green, blue);
}





