.wrapper_logo{
    width: 50px;
    height: 100px;
}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
.nov_links{
    display: flex;
    align-items: center;
    height: 100%;
    text-underline-position: auto;
}
.main_logo_img{
    width: 100px;
    height: 100px;
}
h1{
    display: flex;
    justify-content: center;

}
h3{

}
.about_us{
    margin-bottom: 159px;
}
.img_classes{
width: 250px;
height: 200px;
justify-content: center;
}
.header_nav_link{
    text-decoration: none;
    color: white;
    margin-left: 20px;

}
.header_nav_link_actve_link{
color: blanchedalmond;
margin-left: 20px;
}
.about_all{
    height: 100vh;
    width: 100vw;
}
.img_classes{
    /* margin-top: 20px; */
    width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* justify-content: center;
    display: flex; */
    /* display: inline-block;
    margin-left: 110px; */
}
.img_one{  
    width: 300px;
}
h4{
    width: 300px;
    /* margin-top: 70px; */
}
h2{
    color: blue;}
.two_logo_img{
    width: 100px;
    height: 100px;
}

.wrapper_footer {
    background-color: gray;
    display: flex;
    justify-content: space-between;
}
.facebook_img{
    width: 50px;
    height: 50px;
}
.wrapper_media_list{
    display: flex;
}

li {
   list-style: none;
}
.wrapper_class{
    margin-left: 20px;
}

.wrapper_img_classes {
display: flex;
justify-content: space-around;
height: 400px;
}
.txt_about{
    width: 1000px;
    margin: auto;
}
.facebook_img:hover{
    transform: scale(1.5);
}
