.wrapper_logo{
    width: 50px;
    height: 100px;
}
header{
    background-color: black;
    justify-content: space-between;
    display: flex;
}
.nov_links{
    align-items: center;
    height: 100%;
    text-underline-position: auto;
    display: flex;
}
.main_logo_img{
    width: 100px;
    height: 100px;
}
.header_nav_link_active_link{
    color: blanchedalmond;
    margin-left: 10px;
}
.header_nav_link{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
.main_text{

    text-align: center;
}
.main_login{
    margin-bottom: 15px;
}
.form_main_input{
    height: 120px;
}
.btn_Submit_Page{
    cursor: pointer;
    background-color: rgb(220, 126, 11);
    border-radius: 100px;
    height: 40px;
    width: 100px;
}
.wrapper_media_list{
    display: flex;
    justify-content: space-around;
    width: 900px;
  
}
.wrapper_class{
    width: 70px;
    height: 70px;
}
li {
    list-style: none;
 }
 .wrapper_class{
    width: 10px;
    height: 0px;
 }
 .facebook_img{
    width: 150px;
    height: 150px;
    background-color: #f2a74f;
    
    border-radius: 1000px;
 }
 .facebook_img:hover{
    background-color:rgb(220, 126, 11);
 }
 fieldset{
    width: 230px;
    margin: auto;
    margin-top: 10px;
 }




