header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.nav_links {
    display: flex;
    align-items: center;
    height: 100%;
}

.header_nav_link {
    text-decoration: none;
    color: white;
    margin-right: 20px;

}

.actve_link {
    color: blanchedalmond;
    text-decoration: underline;
    align-items: center;
}

.wrapper_logo {
    width: 100px;
    height: 100px;
}

img {
    width: 100px;
    height: 100px;
}

.criminals_name {
    background-color: blueviolet;
    text-align: center;
    height: 40px;
    color: antiquewhite;
    margin: 0;
}

.prisoners {
    background-color: #cacaf8;
    border: solid;
    border-radius: 1px;
    width: 300px;
    height: auto;
    cursor: pointer;
    margin: 10px;
}

.img_one {
    width: 300px;
    height: 200px;
}

.prisoners:hover {
    cursor: pointer;
    transform: scale(1.5);
    background-color: blueviolet;
}
.wrapper_content{
    background-color: #cacaf8;
    display: flex;
    flex-wrap: wrap;
    
}